@{
    ViewBag.Title = "Consulta de Curso";
}
<h3 class="text-info">Consulta de Curso</h3>
<div id="lista" class="container"></div>
<div id="registro"></div>

<script type="text/javascript">
    var Curso = function () {
        thiss = this;

        this.Iniciar = function () {
            $.ajax({
                url: '/curso/Consultar',
                contentType: 'application/html; charset=utf-8',
                data: {},
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $('#lista').html(data);

                    $('#btnRegistrar').click(function () {
                        thiss.Obtener('0');
                    });

                    $('#btnBuscar').click(function () {
                        thiss.Listar();
                    });

                    $('#btnLimpiar').click(function () {
                        thiss.Limpiar();
                    });

                    $('#ddlBusNivel').change(function () {
                        thiss.ListarGrado('ddlBusGrado', $('#ddlBusNivel').val());
                    });
                },
                error: function (xhr, status) {
                    alert(status);
                }
            })
        };
        this.Limpiar = function () {
            $('#txtBusCod').val('');
            $('#txtBusNom').val('');
            $('#ddlBusArea').val('0');
            $('#ddlBusNivel').val('0');
            $('#ddlBusGrado').val('0');
            $('#rbnEstadoActivo').prop('checked', 'checked');
        };
        this.Listar = function () {
            var data = {
                codigo: $('#txtBusCod').val(),
                nombre: $('#txtBusNom').val(),
                area: $('#ddlBusArea').val(),
                nivel: $('#ddlBusNivel').val(),
                grado: $('#ddlBusGrado').val(),
                estado: $('#rbnEstadoActivo').is(':checked')
            };

            $.ajax({
                url: '/curso/listar',
                contentType: 'application/html; charset=utf-8',
                data: data,
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $('#pnlLista').html(data);

                    $('#pnlLista button').click(function () {
                        thiss.Obtener($(this).parent().parent().find('td').eq(0).attr('data-value'));
                    });
                },
                error: function (xhr, status) {
                    alert(status);
                }
            })
        };
        this.Obtener = function (valor) {
            $.ajax({
                url: '/curso/obtener',
                contentType: 'application/html; charset=utf-8',
                data: { v: valor },
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $('#registro').html(data);

                    $('#pnlRegistro').modal('show');

                    $('#btnGuardar').click(function () {
                        thiss.Guardar();
                    });

                    if ($('#txhID').val() == '0') {
                        $('#ddlArea').change(function () {
                            thiss.ObtenerCodigo($('#ddlArea').val());
                        });
                    }

                    $('#ddlNivel').change(function () {
                        thiss.ListarGrado('ddlGrado', $('#ddlNivel').val());
                    });


                    $('#btnAgregarTema').click(function () {
                        thiss.AgregarTemario();
                    });

                    $('#btnModificarTema').click(function () {
                        thiss.ActualizarTemario();
                    });

                    $('#btnCancelarTema').click(function () {
                        thiss.CancelarTemario();
                    });

                    $('#tblTemario button').click(function () {
                        if ($(this).attr('name') == 'btnModificar') {
                            thiss.ModificarTemario(this);
                        } else {
                            thiss.EliminarTemario(this);
                        }
                    });

                    $('#btnModificarTema').hide();
                    $('#btnCancelarTema').hide();
                },
                error: function (xhr, status) {
                    alert(status);
                }
            })
        };
        this.Guardar = function () {
            var tema = '';

            if ($('#txtCod').val() == '') {
                alert('Generar codigo de curso seleccionando area curricular');
                return false;
            } else if ($('#txtNom').val() == '') {
                alert('Ingresar nombre de curso');
                return false;
            } else if ($('#ddlArea').val() == '0') {
                alert('Seleccionar una area curricular');
                return false;
            } else if ($('#ddlGrado').val() == '0') {
                alert('Seleccionar un grado');
                return false;
            } else if ($('#ddlCoord').val() == '0') {
                alert('Seleccionar un coordinador');
                return false;
            }

            var minimoTema = parseInt($('#ddlNivel option:selected').attr('data-tema'));
            var contadorTema = 0;

            $('#tblTemario tbody > tr').each(function (i, item) {
                var id = $(item).find('td').eq(0).attr('data-value');
                var tit = $(item).find('td').eq(0).html();
                tema += id + '|' + tit + '~';
                contadorTema++;
            });

            if (contadorTema < minimoTema) {
                alert('Tiene que ingresar como mínimo ' + minimoTema.toString() + ' temas');
                return false;
            }

            if (tema.length > 0) tema = tema.substr(0, tema.length - 1);

            if ($('#txhID').val() != '0') {
                if (!confirm('¿Está seguro de Guardar los datos modificados?')) return false;
            }

            var data = {
                id: $('#txhID').val(),
                codigo: $('#txtCod').val(),
                nombre: $('#txtNom').val(),
                area: $('#ddlArea option:selected').val(),
                sumilla: $('#txtSum').val(),
                grado: $('#ddlGrado option:selected').val(),
                coordinador: $('#ddlCoord option:selected').val(),
                estado: ($('#ddlEstado option:selected').val() == '1' ? true : false),
                tema: tema
            };

            $.ajax({
                url: '/curso/guardar',
                contentType: 'application/json; charset=utf-8',
                data: data,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    alert(data.Exito ? data.Exito : data.Error);

                    if (data.Exito) $('#pnlRegistro').modal('hide');

                    thiss.Listar();
                },
                error: function (xhr, status) {
                    alert(status);
                }
            })
        };

        this.ObtenerCodigo = function (area) {
            $.ajax({
                url: '/curso/obtenercodigo',
                contentType: 'application/html; charset=utf-8',
                data: { area: area },
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $('#txtCod').val(data);
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        };
        this.ListarGrado = function (control, nivel) {
            $.ajax({
                url: '/curso/listargrado',
                contentType: 'application/html; charset=utf-8',
                data: { nivel: nivel },
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $('#' + control).empty();
                    $('#' + control).html(data);
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        };

        this.AgregarTemario = function () {
            var tit = $('#txtTemTit').val();
            var boEncontrado = false;

            if (tit == '') {
                alert('Ingrese tema');
                return;
            }

            $('#tblTemario tbody > tr').each(function (i, item) {
                if ($(item).find('td').eq(0).html() == tit) {
                    alert('Ya existe tema');
                    boEncontrado = true;
                    return;
                }
            });

            if (boEncontrado) return;

            $('#tblTemario tbody').append('<tr>' +
                '<td data-value="0">' + tit + '</td>' +
                '<td><button type="button" name="btnModificar" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button></td>' +
                '<td><button type="button" id="btnEliminar" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td></tr>');

            $('#tblTemario button').click(function () {
                if ($(this).attr('name') == 'btnModificar') {
                    thiss.ModificarTemario(this);
                } else {
                    thiss.EliminarTemario(this);
                }
            });

            $('#txtTemTit').attr('data-value', '0');
            $('#txtTemTit').val('');
        };
        this.ActualizarTemario = function () {
            var tema = $('#txtTemTit').attr('data-value');
            var tit = $('#txtTemTit').val();
            var boEncontrado = false;
            var filaModificar = null;

            if (tit == '') {
                alert('Ingrese tema');
                return;
            }

            $('#tblTemario tbody > tr').each(function (i, item) {
                if ($(item).find('td').eq(0).html() == tit && $(item).attr('class') != 'success') {
                    alert('Ya existe tema');
                    boEncontrado = true;
                    return;
                }

                if ($(item).attr('class') == 'success') filaModificar = item;
            });

            if (boEncontrado) return;

            if (filaModificar != null) {
                $(filaModificar).find('td').eq(0).attr('data-value', tema);
                $(filaModificar).find('td').eq(0).html(tit);
                $(filaModificar).removeClass('success');
            }

            $('#txtTemTit').attr('data-value', '0');
            $('#txtTemTit').val('');

            $('#btnAgregarTema').show();
            $('#btnModificarTema').hide();
            $('#btnCancelarTema').hide();
        };
        this.ModificarTemario = function (obj) {
            var fila = $(obj).parent().parent().find('td');

            $(obj).parent().parent().addClass('success');

            $('#txtTemTit').attr('data-value', fila.eq(0).attr('data-value'));
            $('#txtTemTit').val(fila.eq(0).text());

            $('#btnAgregarTema').hide();
            $('#btnModificarTema').show();
            $('#btnCancelarTema').show();
        };
        this.EliminarTemario = function (obj) {
            $(obj).parent().parent().remove();

            $('#txtTemTit').attr('data-value', '0');
            $('#txtTemTit').val('');

            $('#btnAgregarTema').show();
            $('#btnModificarTema').hide();
            $('#btnCancelarTema').hide();
        };
        this.CancelarTemario = function (obj) {
            $('#tblTemario tbody > tr').each(function (i, item) {
                if ($(item).attr('class') == 'success')
                    $(item).removeClass('success');
            });

            $('#txtTemTit').attr('data-value', '0');
            $('#txtTemTit').val('');

            $('#btnAgregarTema').show();
            $('#btnModificarTema').hide();
            $('#btnCancelarTema').hide();
        };
    }

    $(document).ready(function () {
        var curso = new Curso();
        curso.Iniciar();
    });
</script>