USE [innovaSchools]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.TipoContrato_gsp.TipoContratoTiempo_idTipoContratoTiempo]') AND parent_object_id = OBJECT_ID(N'[gsp].[TipoContrato]'))
ALTER TABLE [gsp].[TipoContrato] DROP CONSTRAINT [FK_gsp.TipoContrato_gsp.TipoContratoTiempo_idTipoContratoTiempo]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Persona_gsp.Nacionalidad_idNacionalidad]') AND parent_object_id = OBJECT_ID(N'[gsp].[Persona]'))
ALTER TABLE [gsp].[Persona] DROP CONSTRAINT [FK_gsp.Persona_gsp.Nacionalidad_idNacionalidad]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Persona_gsp.EstadoCivil_idEstadoCivil]') AND parent_object_id = OBJECT_ID(N'[gsp].[Persona]'))
ALTER TABLE [gsp].[Persona] DROP CONSTRAINT [FK_gsp.Persona_gsp.EstadoCivil_idEstadoCivil]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Persona_gaa.DocumentoIdentidad_idDocumentoIdentidad]') AND parent_object_id = OBJECT_ID(N'[gsp].[Persona]'))
ALTER TABLE [gsp].[Persona] DROP CONSTRAINT [FK_gsp.Persona_gaa.DocumentoIdentidad_idDocumentoIdentidad]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Empleado_gsp.Seguro_idSeguro]') AND parent_object_id = OBJECT_ID(N'[gsp].[Empleado]'))
ALTER TABLE [gsp].[Empleado] DROP CONSTRAINT [FK_gsp.Empleado_gsp.Seguro_idSeguro]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Empleado_gsp.NivelEstudio_idNivelEstudio]') AND parent_object_id = OBJECT_ID(N'[gsp].[Empleado]'))
ALTER TABLE [gsp].[Empleado] DROP CONSTRAINT [FK_gsp.Empleado_gsp.NivelEstudio_idNivelEstudio]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Empleado_gsp.FondoPensiones_idFondoPensiones]') AND parent_object_id = OBJECT_ID(N'[gsp].[Empleado]'))
ALTER TABLE [gsp].[Empleado] DROP CONSTRAINT [FK_gsp.Empleado_gsp.FondoPensiones_idFondoPensiones]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Empleado_gsp.EstadoEmpleado_idEstadoEmpleado]') AND parent_object_id = OBJECT_ID(N'[gsp].[Empleado]'))
ALTER TABLE [gsp].[Empleado] DROP CONSTRAINT [FK_gsp.Empleado_gsp.EstadoEmpleado_idEstadoEmpleado]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Empleado_gsp.Candidato_idCandidato]') AND parent_object_id = OBJECT_ID(N'[gsp].[Empleado]'))
ALTER TABLE [gsp].[Empleado] DROP CONSTRAINT [FK_gsp.Empleado_gsp.Candidato_idCandidato]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Empleado_gsp.Banco_idBanco]') AND parent_object_id = OBJECT_ID(N'[gsp].[Empleado]'))
ALTER TABLE [gsp].[Empleado] DROP CONSTRAINT [FK_gsp.Empleado_gsp.Banco_idBanco]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.ConvocatoriaCandidato_gsp.Convocatoria_idConvocatoria]') AND parent_object_id = OBJECT_ID(N'[gsp].[ConvocatoriaCandidato]'))
ALTER TABLE [gsp].[ConvocatoriaCandidato] DROP CONSTRAINT [FK_gsp.ConvocatoriaCandidato_gsp.Convocatoria_idConvocatoria]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.ConvocatoriaCandidato_gsp.Candidato_idCandidato]') AND parent_object_id = OBJECT_ID(N'[gsp].[ConvocatoriaCandidato]'))
ALTER TABLE [gsp].[ConvocatoriaCandidato] DROP CONSTRAINT [FK_gsp.ConvocatoriaCandidato_gsp.Candidato_idCandidato]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Convocatoria_gsp.TipoPuesto_idTipoPuesto]') AND parent_object_id = OBJECT_ID(N'[gsp].[Convocatoria]'))
ALTER TABLE [gsp].[Convocatoria] DROP CONSTRAINT [FK_gsp.Convocatoria_gsp.TipoPuesto_idTipoPuesto]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Convocatoria_gsp.Puesto_idPuesto]') AND parent_object_id = OBJECT_ID(N'[gsp].[Convocatoria]'))
ALTER TABLE [gsp].[Convocatoria] DROP CONSTRAINT [FK_gsp.Convocatoria_gsp.Puesto_idPuesto]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Convocatoria_gsp.Desarrollo_idDesarrollo]') AND parent_object_id = OBJECT_ID(N'[gsp].[Convocatoria]'))
ALTER TABLE [gsp].[Convocatoria] DROP CONSTRAINT [FK_gsp.Convocatoria_gsp.Desarrollo_idDesarrollo]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Convocatoria_gaa.Area_idArea]') AND parent_object_id = OBJECT_ID(N'[gsp].[Convocatoria]'))
ALTER TABLE [gsp].[Convocatoria] DROP CONSTRAINT [FK_gsp.Convocatoria_gaa.Area_idArea]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Contrato_gsp.TipoContrato_idTipoContrato]') AND parent_object_id = OBJECT_ID(N'[gsp].[Contrato]'))
ALTER TABLE [gsp].[Contrato] DROP CONSTRAINT [FK_gsp.Contrato_gsp.TipoContrato_idTipoContrato]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Contrato_gsp.Empleado_idEmpleado]') AND parent_object_id = OBJECT_ID(N'[gsp].[Contrato]'))
ALTER TABLE [gsp].[Contrato] DROP CONSTRAINT [FK_gsp.Contrato_gsp.Empleado_idEmpleado]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Contrato_gsp.Convocatoria_idConvocatoria]') AND parent_object_id = OBJECT_ID(N'[gsp].[Contrato]'))
ALTER TABLE [gsp].[Contrato] DROP CONSTRAINT [FK_gsp.Contrato_gsp.Convocatoria_idConvocatoria]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Candidato_gsp.Persona_idPersona]') AND parent_object_id = OBJECT_ID(N'[gsp].[Candidato]'))
ALTER TABLE [gsp].[Candidato] DROP CONSTRAINT [FK_gsp.Candidato_gsp.Persona_idPersona]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Candidato_gsp.EstadoCandidato_idEstadoCandidato]') AND parent_object_id = OBJECT_ID(N'[gsp].[Candidato]'))
ALTER TABLE [gsp].[Candidato] DROP CONSTRAINT [FK_gsp.Candidato_gsp.EstadoCandidato_idEstadoCandidato]
GO
/****** Object:  Table [gsp].[TipoPuesto]    Script Date: 18/09/2016 4:06:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[TipoPuesto]') AND type in (N'U'))
DROP TABLE [gsp].[TipoPuesto]
GO
/****** Object:  Table [gsp].[TipoContratoTiempo]    Script Date: 18/09/2016 4:06:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[TipoContratoTiempo]') AND type in (N'U'))
DROP TABLE [gsp].[TipoContratoTiempo]
GO
/****** Object:  Table [gsp].[TipoContrato]    Script Date: 18/09/2016 4:06:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[TipoContrato]') AND type in (N'U'))
DROP TABLE [gsp].[TipoContrato]
GO
/****** Object:  Table [gsp].[Seguro]    Script Date: 18/09/2016 4:06:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[Seguro]') AND type in (N'U'))
DROP TABLE [gsp].[Seguro]
GO
/****** Object:  Table [gsp].[Puesto]    Script Date: 18/09/2016 4:06:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[Puesto]') AND type in (N'U'))
DROP TABLE [gsp].[Puesto]
GO
/****** Object:  Table [gsp].[Persona]    Script Date: 18/09/2016 4:06:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[Persona]') AND type in (N'U'))
DROP TABLE [gsp].[Persona]
GO
/****** Object:  Table [gsp].[NivelEstudio]    Script Date: 18/09/2016 4:06:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[NivelEstudio]') AND type in (N'U'))
DROP TABLE [gsp].[NivelEstudio]
GO
/****** Object:  Table [gsp].[Nacionalidad]    Script Date: 18/09/2016 4:06:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[Nacionalidad]') AND type in (N'U'))
DROP TABLE [gsp].[Nacionalidad]
GO
/****** Object:  Table [gsp].[FondoPensiones]    Script Date: 18/09/2016 4:06:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[FondoPensiones]') AND type in (N'U'))
DROP TABLE [gsp].[FondoPensiones]
GO
/****** Object:  Table [gsp].[EstadoEmpleado]    Script Date: 18/09/2016 4:06:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[EstadoEmpleado]') AND type in (N'U'))
DROP TABLE [gsp].[EstadoEmpleado]
GO
/****** Object:  Table [gsp].[EstadoCivil]    Script Date: 18/09/2016 4:06:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[EstadoCivil]') AND type in (N'U'))
DROP TABLE [gsp].[EstadoCivil]
GO
/****** Object:  Table [gsp].[EstadoCandidato]    Script Date: 18/09/2016 4:06:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[EstadoCandidato]') AND type in (N'U'))
DROP TABLE [gsp].[EstadoCandidato]
GO
/****** Object:  Table [gsp].[Empleado]    Script Date: 18/09/2016 4:06:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[Empleado]') AND type in (N'U'))
DROP TABLE [gsp].[Empleado]
GO
/****** Object:  Table [gsp].[Desarrollo]    Script Date: 18/09/2016 4:06:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[Desarrollo]') AND type in (N'U'))
DROP TABLE [gsp].[Desarrollo]
GO
/****** Object:  Table [gsp].[ConvocatoriaCandidato]    Script Date: 18/09/2016 4:06:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[ConvocatoriaCandidato]') AND type in (N'U'))
DROP TABLE [gsp].[ConvocatoriaCandidato]
GO
/****** Object:  Table [gsp].[Convocatoria]    Script Date: 18/09/2016 4:06:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[Convocatoria]') AND type in (N'U'))
DROP TABLE [gsp].[Convocatoria]
GO
/****** Object:  Table [gsp].[Contrato]    Script Date: 18/09/2016 4:06:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[Contrato]') AND type in (N'U'))
DROP TABLE [gsp].[Contrato]
GO
/****** Object:  Table [gsp].[Candidato]    Script Date: 18/09/2016 4:06:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[Candidato]') AND type in (N'U'))
DROP TABLE [gsp].[Candidato]
GO
/****** Object:  Table [gsp].[Banco]    Script Date: 18/09/2016 4:06:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[Banco]') AND type in (N'U'))
DROP TABLE [gsp].[Banco]
GO
/****** Object:  Table [gaa].[DocumentoIdentidad]    Script Date: 18/09/2016 4:06:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gaa].[DocumentoIdentidad]') AND type in (N'U'))
DROP TABLE [gaa].[DocumentoIdentidad]
GO
/****** Object:  Table [gaa].[Area]    Script Date: 18/09/2016 4:06:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gaa].[Area]') AND type in (N'U'))
DROP TABLE [gaa].[Area]
GO
/****** Object:  Schema [gsp]    Script Date: 18/09/2016 4:06:35 ******/
IF  EXISTS (SELECT * FROM sys.schemas WHERE name = N'gsp')
DROP SCHEMA [gsp]
GO
/****** Object:  Schema [gaa]    Script Date: 18/09/2016 4:06:35 ******/
IF  EXISTS (SELECT * FROM sys.schemas WHERE name = N'gaa')
DROP SCHEMA [gaa]
GO
/****** Object:  Schema [gaa]    Script Date: 18/09/2016 4:06:35 ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'gaa')
EXEC sys.sp_executesql N'CREATE SCHEMA [gaa]'

GO
/****** Object:  Schema [gsp]    Script Date: 18/09/2016 4:06:35 ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'gsp')
EXEC sys.sp_executesql N'CREATE SCHEMA [gsp]'

GO
/****** Object:  Table [gaa].[Area]    Script Date: 18/09/2016 4:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gaa].[Area]') AND type in (N'U'))
BEGIN
CREATE TABLE [gaa].[Area](
	[idArea] [int] IDENTITY(1,1) NOT NULL,
	[descripcionArea] [varchar](50) NULL,
 CONSTRAINT [PK_gaa.Area] PRIMARY KEY CLUSTERED 
(
	[idArea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [gaa].[DocumentoIdentidad]    Script Date: 18/09/2016 4:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gaa].[DocumentoIdentidad]') AND type in (N'U'))
BEGIN
CREATE TABLE [gaa].[DocumentoIdentidad](
	[idDocumentoIdentidad] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_gaa.DocumentoIdentidad] PRIMARY KEY CLUSTERED 
(
	[idDocumentoIdentidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [gsp].[Banco]    Script Date: 18/09/2016 4:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[Banco]') AND type in (N'U'))
BEGIN
CREATE TABLE [gsp].[Banco](
	[idBanco] [int] IDENTITY(1,1) NOT NULL,
	[nombreBanco] [varchar](70) NULL,
	[prefijoCuenta] [varchar](4) NULL,
 CONSTRAINT [PK_gsp.Banco] PRIMARY KEY CLUSTERED 
(
	[idBanco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [gsp].[Candidato]    Script Date: 18/09/2016 4:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[Candidato]') AND type in (N'U'))
BEGIN
CREATE TABLE [gsp].[Candidato](
	[idCandidato] [int] IDENTITY(1,1) NOT NULL,
	[idPersona] [int] NOT NULL,
	[idEstadoCandidato] [int] NOT NULL,
	[rutaImgDni] [varchar](700) NULL,
	[rutaImgDeclaracionJurada] [varchar](700) NULL,
	[rutaImgAntecedentesPenales] [varchar](700) NULL,
	[rutaImgAntecedentesPoliciales] [varchar](700) NULL,
	[rutaImgTituloProfesional] [varchar](700) NULL,
	[estado] [nvarchar](max) NULL,
 CONSTRAINT [PK_gsp.Candidato] PRIMARY KEY CLUSTERED 
(
	[idCandidato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [gsp].[Contrato]    Script Date: 18/09/2016 4:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[Contrato]') AND type in (N'U'))
BEGIN
CREATE TABLE [gsp].[Contrato](
	[idContrato] [int] IDENTITY(1,1) NOT NULL,
	[contactoEmergencia] [varchar](20) NULL,
	[fechaInicioContrato] [datetime] NOT NULL,
	[fechaFinContrato] [datetime] NOT NULL,
	[idEmpleado] [int] NOT NULL,
	[salario] [decimal](18, 2) NOT NULL,
	[idTipoContrato] [int] NOT NULL,
	[idConvocatoria] [int] NOT NULL,
	[idTipoContratoTiempo] [int] NOT NULL,
 CONSTRAINT [PK_gsp.Contrato] PRIMARY KEY CLUSTERED 
(
	[idContrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [gsp].[Convocatoria]    Script Date: 18/09/2016 4:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[Convocatoria]') AND type in (N'U'))
BEGIN
CREATE TABLE [gsp].[Convocatoria](
	[idConvocatoria] [int] IDENTITY(1,1) NOT NULL,
	[fechaInicioPublicacion] [datetime] NOT NULL,
	[fechaFinPublicacion] [datetime] NOT NULL,
	[numeroVacantes] [int] NOT NULL,
	[tipoConvocatoria] [nvarchar](max) NULL,
	[añoExperiencia] [int] NOT NULL,
	[conocimiento] [nvarchar](max) NULL,
	[fechaVencimientoDocumento] [datetime] NOT NULL,
	[idTipoPuesto] [int] NOT NULL,
	[idPuesto] [int] NOT NULL,
	[idArea] [int] NULL,
	[idDesarrollo] [int] NULL,
 CONSTRAINT [PK_gsp.Convocatoria] PRIMARY KEY CLUSTERED 
(
	[idConvocatoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [gsp].[ConvocatoriaCandidato]    Script Date: 18/09/2016 4:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[ConvocatoriaCandidato]') AND type in (N'U'))
BEGIN
CREATE TABLE [gsp].[ConvocatoriaCandidato](
	[idConvocatoria] [int] NOT NULL,
	[idCandidato] [int] NOT NULL,
 CONSTRAINT [PK_gsp.ConvocatoriaCandidato] PRIMARY KEY CLUSTERED 
(
	[idConvocatoria] ASC,
	[idCandidato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [gsp].[Desarrollo]    Script Date: 18/09/2016 4:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[Desarrollo]') AND type in (N'U'))
BEGIN
CREATE TABLE [gsp].[Desarrollo](
	[idDesarrollo] [int] IDENTITY(1,1) NOT NULL,
	[descripcionDesarrollo] [varchar](50) NULL,
 CONSTRAINT [PK_gsp.Desarrollo] PRIMARY KEY CLUSTERED 
(
	[idDesarrollo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [gsp].[Empleado]    Script Date: 18/09/2016 4:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[Empleado]') AND type in (N'U'))
BEGIN
CREATE TABLE [gsp].[Empleado](
	[idEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[idCandidato] [int] NOT NULL,
	[idFondoPensiones] [int] NOT NULL,
	[idSeguro] [int] NOT NULL,
	[idEstadoEmpleado] [int] NOT NULL,
	[idBanco] [int] NOT NULL,
	[idNivelEstudio] [int] NOT NULL,
	[contactoEmergencia] [varchar](50) NULL,
	[telefonoEmergencia] [varchar](15) NULL,
	[cuentaBanco] [varchar](20) NULL,
	[codigoFotocheck] [varchar](50) NULL,
 CONSTRAINT [PK_gsp.Empleado] PRIMARY KEY CLUSTERED 
(
	[idEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [gsp].[EstadoCandidato]    Script Date: 18/09/2016 4:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[EstadoCandidato]') AND type in (N'U'))
BEGIN
CREATE TABLE [gsp].[EstadoCandidato](
	[idEstadoCandidato] [int] IDENTITY(1,1) NOT NULL,
	[estadoCandidato] [varchar](50) NULL,
 CONSTRAINT [PK_gsp.EstadoCandidato] PRIMARY KEY CLUSTERED 
(
	[idEstadoCandidato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [gsp].[EstadoCivil]    Script Date: 18/09/2016 4:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[EstadoCivil]') AND type in (N'U'))
BEGIN
CREATE TABLE [gsp].[EstadoCivil](
	[idEstadoCivil] [int] IDENTITY(1,1) NOT NULL,
	[estadoCivil] [varchar](50) NULL,
 CONSTRAINT [PK_gsp.EstadoCivil] PRIMARY KEY CLUSTERED 
(
	[idEstadoCivil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [gsp].[EstadoEmpleado]    Script Date: 18/09/2016 4:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[EstadoEmpleado]') AND type in (N'U'))
BEGIN
CREATE TABLE [gsp].[EstadoEmpleado](
	[idEstadoEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[estadoEmpleado] [varchar](50) NULL,
 CONSTRAINT [PK_gsp.EstadoEmpleado] PRIMARY KEY CLUSTERED 
(
	[idEstadoEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [gsp].[FondoPensiones]    Script Date: 18/09/2016 4:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[FondoPensiones]') AND type in (N'U'))
BEGIN
CREATE TABLE [gsp].[FondoPensiones](
	[idFondoPensiones] [int] IDENTITY(1,1) NOT NULL,
	[fondoPensiones] [nvarchar](max) NULL,
 CONSTRAINT [PK_gsp.FondoPensiones] PRIMARY KEY CLUSTERED 
(
	[idFondoPensiones] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [gsp].[Nacionalidad]    Script Date: 18/09/2016 4:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[Nacionalidad]') AND type in (N'U'))
BEGIN
CREATE TABLE [gsp].[Nacionalidad](
	[idNacionalidad] [int] IDENTITY(1,1) NOT NULL,
	[nacionalidad] [varchar](50) NULL,
 CONSTRAINT [PK_gsp.Nacionalidad] PRIMARY KEY CLUSTERED 
(
	[idNacionalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [gsp].[NivelEstudio]    Script Date: 18/09/2016 4:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[NivelEstudio]') AND type in (N'U'))
BEGIN
CREATE TABLE [gsp].[NivelEstudio](
	[idNivelEstudio] [int] IDENTITY(1,1) NOT NULL,
	[gradoEstudio] [varchar](50) NULL,
 CONSTRAINT [PK_gsp.NivelEstudio] PRIMARY KEY CLUSTERED 
(
	[idNivelEstudio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [gsp].[Persona]    Script Date: 18/09/2016 4:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[Persona]') AND type in (N'U'))
BEGIN
CREATE TABLE [gsp].[Persona](
	[idPersona] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NULL,
	[apellidoPaterno] [varchar](50) NULL,
	[apellidoMaterno] [varchar](50) NULL,
	[direccion] [varchar](20) NULL,
	[telefono] [varchar](15) NULL,
	[celular] [varchar](15) NULL,
	[correoElectronico] [varchar](100) NULL,
	[idNacionalidad] [int] NOT NULL,
	[idDocumentoIdentidad] [int] NOT NULL,
	[documentoIdentidad] [nvarchar](max) NULL,
	[genero] [varchar](20) NULL,
	[nroHijos] [int] NOT NULL,
	[fechaNacimiento] [datetime] NOT NULL,
	[idEstadoCivil] [int] NOT NULL,
 CONSTRAINT [PK_gsp.Persona] PRIMARY KEY CLUSTERED 
(
	[idPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [gsp].[Puesto]    Script Date: 18/09/2016 4:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[Puesto]') AND type in (N'U'))
BEGIN
CREATE TABLE [gsp].[Puesto](
	[idPuesto] [int] IDENTITY(1,1) NOT NULL,
	[descripcionPuesto] [varchar](50) NULL,
	[funcion] [varchar](50) NULL,
 CONSTRAINT [PK_gsp.Puesto] PRIMARY KEY CLUSTERED 
(
	[idPuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [gsp].[Seguro]    Script Date: 18/09/2016 4:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[Seguro]') AND type in (N'U'))
BEGIN
CREATE TABLE [gsp].[Seguro](
	[idSeguro] [int] IDENTITY(1,1) NOT NULL,
	[descripcionSeguro] [varchar](50) NULL,
 CONSTRAINT [PK_gsp.Seguro] PRIMARY KEY CLUSTERED 
(
	[idSeguro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [gsp].[TipoContrato]    Script Date: 18/09/2016 4:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[TipoContrato]') AND type in (N'U'))
BEGIN
CREATE TABLE [gsp].[TipoContrato](
	[idTipoContrato] [int] IDENTITY(1,1) NOT NULL,
	[descripcionContrato] [varchar](50) NULL,
	[idTipoContratoTiempo] [int] NOT NULL,
 CONSTRAINT [PK_gsp.TipoContrato] PRIMARY KEY CLUSTERED 
(
	[idTipoContrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [gsp].[TipoContratoTiempo]    Script Date: 18/09/2016 4:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[TipoContratoTiempo]') AND type in (N'U'))
BEGIN
CREATE TABLE [gsp].[TipoContratoTiempo](
	[idTipoContratoTiempo] [int] IDENTITY(1,1) NOT NULL,
	[descripcionContratoTiempo] [varchar](50) NULL,
 CONSTRAINT [PK_gsp.TipoContratoTiempo] PRIMARY KEY CLUSTERED 
(
	[idTipoContratoTiempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [gsp].[TipoPuesto]    Script Date: 18/09/2016 4:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[gsp].[TipoPuesto]') AND type in (N'U'))
BEGIN
CREATE TABLE [gsp].[TipoPuesto](
	[idTipoPuesto] [int] IDENTITY(1,1) NOT NULL,
	[descripcionPuesto] [varchar](50) NULL,
 CONSTRAINT [PK_gsp.TipoPuesto] PRIMARY KEY CLUSTERED 
(
	[idTipoPuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [gaa].[Area] ON 

INSERT [gaa].[Area] ([idArea], [descripcionArea]) VALUES (1, N'Idiomas')
INSERT [gaa].[Area] ([idArea], [descripcionArea]) VALUES (2, N'Ciencia 
')
INSERT [gaa].[Area] ([idArea], [descripcionArea]) VALUES (3, N'Letras
')
SET IDENTITY_INSERT [gaa].[Area] OFF
SET IDENTITY_INSERT [gaa].[DocumentoIdentidad] ON 

INSERT [gaa].[DocumentoIdentidad] ([idDocumentoIdentidad], [descripcion]) VALUES (1, N'DNI')
INSERT [gaa].[DocumentoIdentidad] ([idDocumentoIdentidad], [descripcion]) VALUES (2, N'CARNE EXTRANJERÍA')
INSERT [gaa].[DocumentoIdentidad] ([idDocumentoIdentidad], [descripcion]) VALUES (3, N'PASAPORTE')
SET IDENTITY_INSERT [gaa].[DocumentoIdentidad] OFF
SET IDENTITY_INSERT [gsp].[Banco] ON 

INSERT [gsp].[Banco] ([idBanco], [nombreBanco], [prefijoCuenta]) VALUES (1, N'BBVA', N'0182')
INSERT [gsp].[Banco] ([idBanco], [nombreBanco], [prefijoCuenta]) VALUES (2, N'Interbak', N'345')
INSERT [gsp].[Banco] ([idBanco], [nombreBanco], [prefijoCuenta]) VALUES (3, N'Scotiabank', N'131')
SET IDENTITY_INSERT [gsp].[Banco] OFF
SET IDENTITY_INSERT [gsp].[Candidato] ON 

INSERT [gsp].[Candidato] ([idCandidato], [idPersona], [idEstadoCandidato], [rutaImgDni], [rutaImgDeclaracionJurada], [rutaImgAntecedentesPenales], [rutaImgAntecedentesPoliciales], [rutaImgTituloProfesional], [estado]) VALUES (1, 1, 5, N'', N'', N'', N'', N'', N'1')
INSERT [gsp].[Candidato] ([idCandidato], [idPersona], [idEstadoCandidato], [rutaImgDni], [rutaImgDeclaracionJurada], [rutaImgAntecedentesPenales], [rutaImgAntecedentesPoliciales], [rutaImgTituloProfesional], [estado]) VALUES (2, 2, 5, N'', N'', N'', N'', N'', N'1')
INSERT [gsp].[Candidato] ([idCandidato], [idPersona], [idEstadoCandidato], [rutaImgDni], [rutaImgDeclaracionJurada], [rutaImgAntecedentesPenales], [rutaImgAntecedentesPoliciales], [rutaImgTituloProfesional], [estado]) VALUES (3, 3, 5, N'', N'', N'', N'', N'', N'1')
GO
SET IDENTITY_INSERT [gsp].[Candidato] OFF
SET IDENTITY_INSERT [gsp].[Contrato] ON 

INSERT [gsp].[Contrato] ([idContrato], [contactoEmergencia], [fechaInicioContrato], [fechaFinContrato], [idEmpleado], [salario], [idTipoContrato], [idConvocatoria], [idTipoContratoTiempo]) VALUES (1, N'20161110000001', CAST(N'2016-09-15 00:00:00.000' AS DateTime), CAST(N'2016-09-30 00:00:00.000' AS DateTime), 1, CAST(5000.00 AS Decimal(18, 2)), 1, 1, 1)
INSERT [gsp].[Contrato] ([idContrato], [contactoEmergencia], [fechaInicioContrato], [fechaFinContrato], [idEmpleado], [salario], [idTipoContrato], [idConvocatoria], [idTipoContratoTiempo]) VALUES (2, N'20161110000002', CAST(N'2016-09-15 00:00:00.000' AS DateTime), CAST(N'2016-09-29 00:00:00.000' AS DateTime), 2, CAST(5000.00 AS Decimal(18, 2)), 1, 1, 1)
INSERT [gsp].[Contrato] ([idContrato], [contactoEmergencia], [fechaInicioContrato], [fechaFinContrato], [idEmpleado], [salario], [idTipoContrato], [idConvocatoria], [idTipoContratoTiempo]) VALUES (3, N'20161110000003', CAST(N'2016-09-16 00:00:00.000' AS DateTime), CAST(N'2016-09-16 00:00:00.000' AS DateTime), 3, CAST(5345345.00 AS Decimal(18, 2)), 1, 1, 0)
SET IDENTITY_INSERT [gsp].[Contrato] OFF
SET IDENTITY_INSERT [gsp].[Convocatoria] ON 

INSERT [gsp].[Convocatoria] ([idConvocatoria], [fechaInicioPublicacion], [fechaFinPublicacion], [numeroVacantes], [tipoConvocatoria], [añoExperiencia], [conocimiento], [fechaVencimientoDocumento], [idTipoPuesto], [idPuesto], [idArea], [idDesarrollo]) VALUES (1, CAST(N'2016-01-01 00:00:00.000' AS DateTime), CAST(N'2016-01-30 00:00:00.000' AS DateTime), 2, N'1', 4, N'Superior', CAST(N'2016-01-15 00:00:00.000' AS DateTime), 1, 1, 1, 1)
INSERT [gsp].[Convocatoria] ([idConvocatoria], [fechaInicioPublicacion], [fechaFinPublicacion], [numeroVacantes], [tipoConvocatoria], [añoExperiencia], [conocimiento], [fechaVencimientoDocumento], [idTipoPuesto], [idPuesto], [idArea], [idDesarrollo]) VALUES (2, CAST(N'2016-02-01 00:00:00.000' AS DateTime), CAST(N'2016-03-01 00:00:00.000' AS DateTime), 2, N'1', 4, N'Superior', CAST(N'2016-02-15 00:00:00.000' AS DateTime), 2, 1, 1, 1)
INSERT [gsp].[Convocatoria] ([idConvocatoria], [fechaInicioPublicacion], [fechaFinPublicacion], [numeroVacantes], [tipoConvocatoria], [añoExperiencia], [conocimiento], [fechaVencimientoDocumento], [idTipoPuesto], [idPuesto], [idArea], [idDesarrollo]) VALUES (3, CAST(N'2016-03-03 00:00:00.000' AS DateTime), CAST(N'2016-04-01 00:00:00.000' AS DateTime), 2, N'1', 4, N'Superior', CAST(N'2016-03-17 00:00:00.000' AS DateTime), 3, 1, 1, 1)
SET IDENTITY_INSERT [gsp].[Convocatoria] OFF
INSERT [gsp].[ConvocatoriaCandidato] ([idConvocatoria], [idCandidato]) VALUES (1, 1)
INSERT [gsp].[ConvocatoriaCandidato] ([idConvocatoria], [idCandidato]) VALUES (1, 2)
INSERT [gsp].[ConvocatoriaCandidato] ([idConvocatoria], [idCandidato]) VALUES (1, 3)
SET IDENTITY_INSERT [gsp].[Desarrollo] ON 

INSERT [gsp].[Desarrollo] ([idDesarrollo], [descripcionDesarrollo]) VALUES (1, N'Arte')
INSERT [gsp].[Desarrollo] ([idDesarrollo], [descripcionDesarrollo]) VALUES (2, N'Biblioteca')
INSERT [gsp].[Desarrollo] ([idDesarrollo], [descripcionDesarrollo]) VALUES (3, N'Biología')
SET IDENTITY_INSERT [gsp].[Desarrollo] OFF
SET IDENTITY_INSERT [gsp].[Empleado] ON 

INSERT [gsp].[Empleado] ([idEmpleado], [idCandidato], [idFondoPensiones], [idSeguro], [idEstadoEmpleado], [idBanco], [idNivelEstudio], [contactoEmergencia], [telefonoEmergencia], [cuentaBanco], [codigoFotocheck]) VALUES (1, 1, 2, 1, 2, 3, 2, N'JUAN', N'45645356', N'1234567890', N'2016INDADMPRO0000001')
INSERT [gsp].[Empleado] ([idEmpleado], [idCandidato], [idFondoPensiones], [idSeguro], [idEstadoEmpleado], [idBanco], [idNivelEstudio], [contactoEmergencia], [telefonoEmergencia], [cuentaBanco], [codigoFotocheck]) VALUES (2, 2, 1, 1, 1, 2, 1, N'', N'', N'1234567980123', NULL)
INSERT [gsp].[Empleado] ([idEmpleado], [idCandidato], [idFondoPensiones], [idSeguro], [idEstadoEmpleado], [idBanco], [idNivelEstudio], [contactoEmergencia], [telefonoEmergencia], [cuentaBanco], [codigoFotocheck]) VALUES (3, 3, 1, 1, 1, 2, 1, N'', N'', N'1234657980132', NULL)
SET IDENTITY_INSERT [gsp].[Empleado] OFF
SET IDENTITY_INSERT [gsp].[EstadoCandidato] ON 

INSERT [gsp].[EstadoCandidato] ([idEstadoCandidato], [estadoCandidato]) VALUES (1, N'Seleccionado')
INSERT [gsp].[EstadoCandidato] ([idEstadoCandidato], [estadoCandidato]) VALUES (2, N'Verificado')
INSERT [gsp].[EstadoCandidato] ([idEstadoCandidato], [estadoCandidato]) VALUES (3, N'Observado')
SET IDENTITY_INSERT [gsp].[EstadoCandidato] OFF
SET IDENTITY_INSERT [gsp].[EstadoCivil] ON 

INSERT [gsp].[EstadoCivil] ([idEstadoCivil], [estadoCivil]) VALUES (1, N'Soltero')
INSERT [gsp].[EstadoCivil] ([idEstadoCivil], [estadoCivil]) VALUES (2, N'Cansado')
INSERT [gsp].[EstadoCivil] ([idEstadoCivil], [estadoCivil]) VALUES (3, N'Divorciado')
SET IDENTITY_INSERT [gsp].[EstadoCivil] OFF
SET IDENTITY_INSERT [gsp].[EstadoEmpleado] ON 

INSERT [gsp].[EstadoEmpleado] ([idEstadoEmpleado], [estadoEmpleado]) VALUES (1, N'Contratado')
INSERT [gsp].[EstadoEmpleado] ([idEstadoEmpleado], [estadoEmpleado]) VALUES (2, N'Cesado')
SET IDENTITY_INSERT [gsp].[EstadoEmpleado] OFF
SET IDENTITY_INSERT [gsp].[FondoPensiones] ON 

INSERT [gsp].[FondoPensiones] ([idFondoPensiones], [fondoPensiones]) VALUES (1, N'AFP Horizonte')
INSERT [gsp].[FondoPensiones] ([idFondoPensiones], [fondoPensiones]) VALUES (2, N'AFP Integra')
INSERT [gsp].[FondoPensiones] ([idFondoPensiones], [fondoPensiones]) VALUES (3, N'AFP Prima')
SET IDENTITY_INSERT [gsp].[FondoPensiones] OFF
SET IDENTITY_INSERT [gsp].[Nacionalidad] ON 

INSERT [gsp].[Nacionalidad] ([idNacionalidad], [nacionalidad]) VALUES (1, N'Peruana')
INSERT [gsp].[Nacionalidad] ([idNacionalidad], [nacionalidad]) VALUES (2, N'Americana')
INSERT [gsp].[Nacionalidad] ([idNacionalidad], [nacionalidad]) VALUES (3, N'Europea')
SET IDENTITY_INSERT [gsp].[Nacionalidad] OFF
SET IDENTITY_INSERT [gsp].[NivelEstudio] ON 

INSERT [gsp].[NivelEstudio] ([idNivelEstudio], [gradoEstudio]) VALUES (1, N'Licenciado
')
INSERT [gsp].[NivelEstudio] ([idNivelEstudio], [gradoEstudio]) VALUES (2, N'Técnico
')
INSERT [gsp].[NivelEstudio] ([idNivelEstudio], [gradoEstudio]) VALUES (3, N'Colegiado
')
SET IDENTITY_INSERT [gsp].[NivelEstudio] OFF
SET IDENTITY_INSERT [gsp].[Persona] ON 

INSERT [gsp].[Persona] ([idPersona], [nombre], [apellidoPaterno], [apellidoMaterno], [direccion], [telefono], [celular], [correoElectronico], [idNacionalidad], [idDocumentoIdentidad], [documentoIdentidad], [genero], [nroHijos], [fechaNacimiento], [idEstadoCivil]) VALUES (1, N'Daniel ', N'Acevedo', N'Jhong', N'Surco1', N'3163312', N'993345883', N'aJhong4@gmail.com', 1, 1, N'51803422', N'1', 5, CAST(N'1980-05-01 00:00:00.000' AS DateTime), 1)
INSERT [gsp].[Persona] ([idPersona], [nombre], [apellidoPaterno], [apellidoMaterno], [direccion], [telefono], [celular], [correoElectronico], [idNacionalidad], [idDocumentoIdentidad], [documentoIdentidad], [genero], [nroHijos], [fechaNacimiento], [idEstadoCivil]) VALUES (2, N'Miguel vicente ', N'Agurto', N'Rondoy', N'La Molina', N'3790225', N'998821724', N'aRondoy@gmail.com', 1, 1, N'57348847', N'1', 0, CAST(N'1980-05-02 00:00:00.000' AS DateTime), 1)
INSERT [gsp].[Persona] ([idPersona], [nombre], [apellidoPaterno], [apellidoMaterno], [direccion], [telefono], [celular], [correoElectronico], [idNacionalidad], [idDocumentoIdentidad], [documentoIdentidad], [genero], [nroHijos], [fechaNacimiento], [idEstadoCivil]) VALUES (3, N'Christian nelson', N'Alcalá', N'Negrón', N'San Isidro', N'3730286', N'998418392', N'aNegrón@gmail.com', 1, 1, N'52574281', N'1', 0, CAST(N'1980-05-03 00:00:00.000' AS DateTime), 1)
GO
SET IDENTITY_INSERT [gsp].[Persona] OFF
SET IDENTITY_INSERT [gsp].[Puesto] ON 

INSERT [gsp].[Puesto] ([idPuesto], [descripcionPuesto], [funcion]) VALUES (1, N'Profesor Idiomas', N'Profesor Idiomas')
INSERT [gsp].[Puesto] ([idPuesto], [descripcionPuesto], [funcion]) VALUES (2, N'Maestros
', N'Maestros
')
INSERT [gsp].[Puesto] ([idPuesto], [descripcionPuesto], [funcion]) VALUES (3, N'Supervisor
', N'Supervisor
')
SET IDENTITY_INSERT [gsp].[Puesto] OFF
SET IDENTITY_INSERT [gsp].[Seguro] ON 

INSERT [gsp].[Seguro] ([idSeguro], [descripcionSeguro]) VALUES (1, N'EsSalud')
SET IDENTITY_INSERT [gsp].[Seguro] OFF
SET IDENTITY_INSERT [gsp].[TipoContrato] ON 

INSERT [gsp].[TipoContrato] ([idTipoContrato], [descripcionContrato], [idTipoContratoTiempo]) VALUES (1, N'Indefinido', 1)
INSERT [gsp].[TipoContrato] ([idTipoContrato], [descripcionContrato], [idTipoContratoTiempo]) VALUES (2, N'Temporal', 1)
INSERT [gsp].[TipoContrato] ([idTipoContrato], [descripcionContrato], [idTipoContratoTiempo]) VALUES (3, N'Nombrado', 1)
SET IDENTITY_INSERT [gsp].[TipoContrato] OFF
SET IDENTITY_INSERT [gsp].[TipoContratoTiempo] ON 

INSERT [gsp].[TipoContratoTiempo] ([idTipoContratoTiempo], [descripcionContratoTiempo]) VALUES (1, N'6 meses')
INSERT [gsp].[TipoContratoTiempo] ([idTipoContratoTiempo], [descripcionContratoTiempo]) VALUES (2, N'12 meses')
SET IDENTITY_INSERT [gsp].[TipoContratoTiempo] OFF
SET IDENTITY_INSERT [gsp].[TipoPuesto] ON 

INSERT [gsp].[TipoPuesto] ([idTipoPuesto], [descripcionPuesto]) VALUES (1, N'Administrativo')
INSERT [gsp].[TipoPuesto] ([idTipoPuesto], [descripcionPuesto]) VALUES (2, N'Mantenimiento y Limpieza')
INSERT [gsp].[TipoPuesto] ([idTipoPuesto], [descripcionPuesto]) VALUES (3, N'Docente')
SET IDENTITY_INSERT [gsp].[TipoPuesto] OFF
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Candidato_gsp.EstadoCandidato_idEstadoCandidato]') AND parent_object_id = OBJECT_ID(N'[gsp].[Candidato]'))
ALTER TABLE [gsp].[Candidato]  WITH CHECK ADD  CONSTRAINT [FK_gsp.Candidato_gsp.EstadoCandidato_idEstadoCandidato] FOREIGN KEY([idEstadoCandidato])
REFERENCES [gsp].[EstadoCandidato] ([idEstadoCandidato])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Candidato_gsp.EstadoCandidato_idEstadoCandidato]') AND parent_object_id = OBJECT_ID(N'[gsp].[Candidato]'))
ALTER TABLE [gsp].[Candidato] CHECK CONSTRAINT [FK_gsp.Candidato_gsp.EstadoCandidato_idEstadoCandidato]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Candidato_gsp.Persona_idPersona]') AND parent_object_id = OBJECT_ID(N'[gsp].[Candidato]'))
ALTER TABLE [gsp].[Candidato]  WITH CHECK ADD  CONSTRAINT [FK_gsp.Candidato_gsp.Persona_idPersona] FOREIGN KEY([idPersona])
REFERENCES [gsp].[Persona] ([idPersona])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Candidato_gsp.Persona_idPersona]') AND parent_object_id = OBJECT_ID(N'[gsp].[Candidato]'))
ALTER TABLE [gsp].[Candidato] CHECK CONSTRAINT [FK_gsp.Candidato_gsp.Persona_idPersona]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Contrato_gsp.Convocatoria_idConvocatoria]') AND parent_object_id = OBJECT_ID(N'[gsp].[Contrato]'))
ALTER TABLE [gsp].[Contrato]  WITH CHECK ADD  CONSTRAINT [FK_gsp.Contrato_gsp.Convocatoria_idConvocatoria] FOREIGN KEY([idConvocatoria])
REFERENCES [gsp].[Convocatoria] ([idConvocatoria])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Contrato_gsp.Convocatoria_idConvocatoria]') AND parent_object_id = OBJECT_ID(N'[gsp].[Contrato]'))
ALTER TABLE [gsp].[Contrato] CHECK CONSTRAINT [FK_gsp.Contrato_gsp.Convocatoria_idConvocatoria]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Contrato_gsp.Empleado_idEmpleado]') AND parent_object_id = OBJECT_ID(N'[gsp].[Contrato]'))
ALTER TABLE [gsp].[Contrato]  WITH CHECK ADD  CONSTRAINT [FK_gsp.Contrato_gsp.Empleado_idEmpleado] FOREIGN KEY([idEmpleado])
REFERENCES [gsp].[Empleado] ([idEmpleado])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Contrato_gsp.Empleado_idEmpleado]') AND parent_object_id = OBJECT_ID(N'[gsp].[Contrato]'))
ALTER TABLE [gsp].[Contrato] CHECK CONSTRAINT [FK_gsp.Contrato_gsp.Empleado_idEmpleado]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Contrato_gsp.TipoContrato_idTipoContrato]') AND parent_object_id = OBJECT_ID(N'[gsp].[Contrato]'))
ALTER TABLE [gsp].[Contrato]  WITH CHECK ADD  CONSTRAINT [FK_gsp.Contrato_gsp.TipoContrato_idTipoContrato] FOREIGN KEY([idTipoContrato])
REFERENCES [gsp].[TipoContrato] ([idTipoContrato])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Contrato_gsp.TipoContrato_idTipoContrato]') AND parent_object_id = OBJECT_ID(N'[gsp].[Contrato]'))
ALTER TABLE [gsp].[Contrato] CHECK CONSTRAINT [FK_gsp.Contrato_gsp.TipoContrato_idTipoContrato]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Convocatoria_gaa.Area_idArea]') AND parent_object_id = OBJECT_ID(N'[gsp].[Convocatoria]'))
ALTER TABLE [gsp].[Convocatoria]  WITH CHECK ADD  CONSTRAINT [FK_gsp.Convocatoria_gaa.Area_idArea] FOREIGN KEY([idArea])
REFERENCES [gaa].[Area] ([idArea])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Convocatoria_gaa.Area_idArea]') AND parent_object_id = OBJECT_ID(N'[gsp].[Convocatoria]'))
ALTER TABLE [gsp].[Convocatoria] CHECK CONSTRAINT [FK_gsp.Convocatoria_gaa.Area_idArea]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Convocatoria_gsp.Desarrollo_idDesarrollo]') AND parent_object_id = OBJECT_ID(N'[gsp].[Convocatoria]'))
ALTER TABLE [gsp].[Convocatoria]  WITH CHECK ADD  CONSTRAINT [FK_gsp.Convocatoria_gsp.Desarrollo_idDesarrollo] FOREIGN KEY([idDesarrollo])
REFERENCES [gsp].[Desarrollo] ([idDesarrollo])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Convocatoria_gsp.Desarrollo_idDesarrollo]') AND parent_object_id = OBJECT_ID(N'[gsp].[Convocatoria]'))
ALTER TABLE [gsp].[Convocatoria] CHECK CONSTRAINT [FK_gsp.Convocatoria_gsp.Desarrollo_idDesarrollo]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Convocatoria_gsp.Puesto_idPuesto]') AND parent_object_id = OBJECT_ID(N'[gsp].[Convocatoria]'))
ALTER TABLE [gsp].[Convocatoria]  WITH CHECK ADD  CONSTRAINT [FK_gsp.Convocatoria_gsp.Puesto_idPuesto] FOREIGN KEY([idPuesto])
REFERENCES [gsp].[Puesto] ([idPuesto])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Convocatoria_gsp.Puesto_idPuesto]') AND parent_object_id = OBJECT_ID(N'[gsp].[Convocatoria]'))
ALTER TABLE [gsp].[Convocatoria] CHECK CONSTRAINT [FK_gsp.Convocatoria_gsp.Puesto_idPuesto]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Convocatoria_gsp.TipoPuesto_idTipoPuesto]') AND parent_object_id = OBJECT_ID(N'[gsp].[Convocatoria]'))
ALTER TABLE [gsp].[Convocatoria]  WITH CHECK ADD  CONSTRAINT [FK_gsp.Convocatoria_gsp.TipoPuesto_idTipoPuesto] FOREIGN KEY([idTipoPuesto])
REFERENCES [gsp].[TipoPuesto] ([idTipoPuesto])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Convocatoria_gsp.TipoPuesto_idTipoPuesto]') AND parent_object_id = OBJECT_ID(N'[gsp].[Convocatoria]'))
ALTER TABLE [gsp].[Convocatoria] CHECK CONSTRAINT [FK_gsp.Convocatoria_gsp.TipoPuesto_idTipoPuesto]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.ConvocatoriaCandidato_gsp.Candidato_idCandidato]') AND parent_object_id = OBJECT_ID(N'[gsp].[ConvocatoriaCandidato]'))
ALTER TABLE [gsp].[ConvocatoriaCandidato]  WITH CHECK ADD  CONSTRAINT [FK_gsp.ConvocatoriaCandidato_gsp.Candidato_idCandidato] FOREIGN KEY([idCandidato])
REFERENCES [gsp].[Candidato] ([idCandidato])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.ConvocatoriaCandidato_gsp.Candidato_idCandidato]') AND parent_object_id = OBJECT_ID(N'[gsp].[ConvocatoriaCandidato]'))
ALTER TABLE [gsp].[ConvocatoriaCandidato] CHECK CONSTRAINT [FK_gsp.ConvocatoriaCandidato_gsp.Candidato_idCandidato]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.ConvocatoriaCandidato_gsp.Convocatoria_idConvocatoria]') AND parent_object_id = OBJECT_ID(N'[gsp].[ConvocatoriaCandidato]'))
ALTER TABLE [gsp].[ConvocatoriaCandidato]  WITH CHECK ADD  CONSTRAINT [FK_gsp.ConvocatoriaCandidato_gsp.Convocatoria_idConvocatoria] FOREIGN KEY([idConvocatoria])
REFERENCES [gsp].[Convocatoria] ([idConvocatoria])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.ConvocatoriaCandidato_gsp.Convocatoria_idConvocatoria]') AND parent_object_id = OBJECT_ID(N'[gsp].[ConvocatoriaCandidato]'))
ALTER TABLE [gsp].[ConvocatoriaCandidato] CHECK CONSTRAINT [FK_gsp.ConvocatoriaCandidato_gsp.Convocatoria_idConvocatoria]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Empleado_gsp.Banco_idBanco]') AND parent_object_id = OBJECT_ID(N'[gsp].[Empleado]'))
ALTER TABLE [gsp].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_gsp.Empleado_gsp.Banco_idBanco] FOREIGN KEY([idBanco])
REFERENCES [gsp].[Banco] ([idBanco])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Empleado_gsp.Banco_idBanco]') AND parent_object_id = OBJECT_ID(N'[gsp].[Empleado]'))
ALTER TABLE [gsp].[Empleado] CHECK CONSTRAINT [FK_gsp.Empleado_gsp.Banco_idBanco]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Empleado_gsp.Candidato_idCandidato]') AND parent_object_id = OBJECT_ID(N'[gsp].[Empleado]'))
ALTER TABLE [gsp].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_gsp.Empleado_gsp.Candidato_idCandidato] FOREIGN KEY([idCandidato])
REFERENCES [gsp].[Candidato] ([idCandidato])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Empleado_gsp.Candidato_idCandidato]') AND parent_object_id = OBJECT_ID(N'[gsp].[Empleado]'))
ALTER TABLE [gsp].[Empleado] CHECK CONSTRAINT [FK_gsp.Empleado_gsp.Candidato_idCandidato]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Empleado_gsp.EstadoEmpleado_idEstadoEmpleado]') AND parent_object_id = OBJECT_ID(N'[gsp].[Empleado]'))
ALTER TABLE [gsp].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_gsp.Empleado_gsp.EstadoEmpleado_idEstadoEmpleado] FOREIGN KEY([idEstadoEmpleado])
REFERENCES [gsp].[EstadoEmpleado] ([idEstadoEmpleado])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Empleado_gsp.EstadoEmpleado_idEstadoEmpleado]') AND parent_object_id = OBJECT_ID(N'[gsp].[Empleado]'))
ALTER TABLE [gsp].[Empleado] CHECK CONSTRAINT [FK_gsp.Empleado_gsp.EstadoEmpleado_idEstadoEmpleado]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Empleado_gsp.FondoPensiones_idFondoPensiones]') AND parent_object_id = OBJECT_ID(N'[gsp].[Empleado]'))
ALTER TABLE [gsp].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_gsp.Empleado_gsp.FondoPensiones_idFondoPensiones] FOREIGN KEY([idFondoPensiones])
REFERENCES [gsp].[FondoPensiones] ([idFondoPensiones])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Empleado_gsp.FondoPensiones_idFondoPensiones]') AND parent_object_id = OBJECT_ID(N'[gsp].[Empleado]'))
ALTER TABLE [gsp].[Empleado] CHECK CONSTRAINT [FK_gsp.Empleado_gsp.FondoPensiones_idFondoPensiones]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Empleado_gsp.NivelEstudio_idNivelEstudio]') AND parent_object_id = OBJECT_ID(N'[gsp].[Empleado]'))
ALTER TABLE [gsp].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_gsp.Empleado_gsp.NivelEstudio_idNivelEstudio] FOREIGN KEY([idNivelEstudio])
REFERENCES [gsp].[NivelEstudio] ([idNivelEstudio])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Empleado_gsp.NivelEstudio_idNivelEstudio]') AND parent_object_id = OBJECT_ID(N'[gsp].[Empleado]'))
ALTER TABLE [gsp].[Empleado] CHECK CONSTRAINT [FK_gsp.Empleado_gsp.NivelEstudio_idNivelEstudio]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Empleado_gsp.Seguro_idSeguro]') AND parent_object_id = OBJECT_ID(N'[gsp].[Empleado]'))
ALTER TABLE [gsp].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_gsp.Empleado_gsp.Seguro_idSeguro] FOREIGN KEY([idSeguro])
REFERENCES [gsp].[Seguro] ([idSeguro])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Empleado_gsp.Seguro_idSeguro]') AND parent_object_id = OBJECT_ID(N'[gsp].[Empleado]'))
ALTER TABLE [gsp].[Empleado] CHECK CONSTRAINT [FK_gsp.Empleado_gsp.Seguro_idSeguro]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Persona_gaa.DocumentoIdentidad_idDocumentoIdentidad]') AND parent_object_id = OBJECT_ID(N'[gsp].[Persona]'))
ALTER TABLE [gsp].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_gsp.Persona_gaa.DocumentoIdentidad_idDocumentoIdentidad] FOREIGN KEY([idDocumentoIdentidad])
REFERENCES [gaa].[DocumentoIdentidad] ([idDocumentoIdentidad])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Persona_gaa.DocumentoIdentidad_idDocumentoIdentidad]') AND parent_object_id = OBJECT_ID(N'[gsp].[Persona]'))
ALTER TABLE [gsp].[Persona] CHECK CONSTRAINT [FK_gsp.Persona_gaa.DocumentoIdentidad_idDocumentoIdentidad]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Persona_gsp.EstadoCivil_idEstadoCivil]') AND parent_object_id = OBJECT_ID(N'[gsp].[Persona]'))
ALTER TABLE [gsp].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_gsp.Persona_gsp.EstadoCivil_idEstadoCivil] FOREIGN KEY([idEstadoCivil])
REFERENCES [gsp].[EstadoCivil] ([idEstadoCivil])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Persona_gsp.EstadoCivil_idEstadoCivil]') AND parent_object_id = OBJECT_ID(N'[gsp].[Persona]'))
ALTER TABLE [gsp].[Persona] CHECK CONSTRAINT [FK_gsp.Persona_gsp.EstadoCivil_idEstadoCivil]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Persona_gsp.Nacionalidad_idNacionalidad]') AND parent_object_id = OBJECT_ID(N'[gsp].[Persona]'))
ALTER TABLE [gsp].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_gsp.Persona_gsp.Nacionalidad_idNacionalidad] FOREIGN KEY([idNacionalidad])
REFERENCES [gsp].[Nacionalidad] ([idNacionalidad])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.Persona_gsp.Nacionalidad_idNacionalidad]') AND parent_object_id = OBJECT_ID(N'[gsp].[Persona]'))
ALTER TABLE [gsp].[Persona] CHECK CONSTRAINT [FK_gsp.Persona_gsp.Nacionalidad_idNacionalidad]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.TipoContrato_gsp.TipoContratoTiempo_idTipoContratoTiempo]') AND parent_object_id = OBJECT_ID(N'[gsp].[TipoContrato]'))
ALTER TABLE [gsp].[TipoContrato]  WITH CHECK ADD  CONSTRAINT [FK_gsp.TipoContrato_gsp.TipoContratoTiempo_idTipoContratoTiempo] FOREIGN KEY([idTipoContratoTiempo])
REFERENCES [gsp].[TipoContratoTiempo] ([idTipoContratoTiempo])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[gsp].[FK_gsp.TipoContrato_gsp.TipoContratoTiempo_idTipoContratoTiempo]') AND parent_object_id = OBJECT_ID(N'[gsp].[TipoContrato]'))
ALTER TABLE [gsp].[TipoContrato] CHECK CONSTRAINT [FK_gsp.TipoContrato_gsp.TipoContratoTiempo_idTipoContratoTiempo]
GO
